.enemy-zone {
  position: relative;
  width: 100%; /* Tüm genişlik */
  height: 100vh; /* Tam ekran yüksekliği */
  overflow: hidden; /* Alan dışına çıkan düşmanları gizle */
  background-color: #111; /* Arka plan */
}

.enemy {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: top 0.05s linear, left 0.05s linear; /* Akıcı hareket */
}

.enemy-health {
  position: absolute;
  top: -10px;
  font-size: 10px;
  background: black;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
  text-align: center;
}
