.enemy-zone {
  position: relative;
  width: 350px; /* Grid genişliği (7 sütun * 50px) */
  height: 500px; /* Grid yüksekliği (10 satır * 50px) */
  overflow: hidden; /* Alan dışına çıkan düşmanlar gizlenecek */
  background-color: #111;
  border: 2px solid #333;
}

.enemy {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.5s linear; /* Hareket animasyonu */
}

.enemy-health {
  position: absolute;
  top: -10px;
  font-size: 10px;
  background: black;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
  text-align: center;
}
