.turret-zone {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr)); /* Dinamik sütun genişliği */
  gap: 5px;
  background-color: #111122;
  padding: 0 10px;
  box-sizing: border-box;
}

.turret-cell {
  transition: background-color 0.3s ease;
}

.turret-cell:hover {
  background-color: #5b5b90;
}
